default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  username: postgres
  password: postgres
  host: <%= ENV.fetch('DATABASE_HOST', 'localhost') %>
  template: template0

development:
  <<: *default
  database: sales-operation-challenge_development

test: &test
  <<: *default
  database: sales-operation-challenge_test
  min_messages: WARNING
